*{
    margin: 0 auto;
    padding: 0;
}

.wrapper{
    margin: 15px;
}

.square{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 20px;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 100%;
}

.triangle{
    height: 0px;
    width: 0px;
    margin-bottom: 20px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 100px solid blue;
}

.pac-man{
    height: 0px;
    width: 0px;
    margin-bottom: 20px;
    border-radius: 100%;
    border-top: 50px solid blue;
    border-right: 50px solid transparent;
    border-left: 50px solid blue;
    border-bottom: 50px solid blue;
}